body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-formular > *{
#    flex: 1 100%;
}

.flex-formular{
    display: flex;
#    flex-flow: row wrap;
}

@screen all and(min.width : 600px){
  .aside(flex:column;)
}

.flex-map{
    display: flex;
#    flex-flow: row wrap;
}


.flex-item{
    margin: .5em;
}
