body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-formular > *{
#   flex: 1 1 0%;
}

.flex-container{
  display:  flex;
}

.flex-formular{
    display: flex;
}

.flex-map > *{
#  flex: 1 1 0%;
}

.flex-map{
    display: flex;
}
